@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

body {
  margin: 0;
  font-family: Autour One, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #393939;
  color: #f1ebe1;
}